<article
  class="flex flex-col items-center justify-center text-left {{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }}"
>
  <header class="flex-col items-left mb-3" flex>
    {{ with .Site.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fill "288x288" }}
        <img
          class="mb-2 rounded-full w-36 h-36"
          width="144"
          height="144"
          alt="Author"
          src="{{ $authorImage.RelPermalink }}"
        />
      {{ end }}
    {{ end }}
    <h1 class="text-4xl flex font-extrabold">
      {{ .Site.Author.name | default .Site.Title | emojify }}
    </h1>
    {{ with .Site.Author.headline }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400" flex>
        {{ . }}
      </h2>
    {{ end }}
    <div class="mt-1 text-2xl" flex>
      {{ partialCached "author-links.html" . }}
    </div>
    <section class="prose dark:prose-invert" flex>{{ .Content | emojify }}</section>
  </header>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
